#GitHub github.com/devgaganin
https://devgagan.in/wp-content/uploads/2023/12/gagantelethon.zip
ethon==0.1.5
cryptg
tgcrypto
Telethon  # أحدث إصدار من مكتبة Telethon
psutil
heroku3
psycopg2
opencv-python-headless
python-decouple
requests
speedtest-cli
